# Images / Videos
*.png
*.jpg
*.jpeg
*.m4a
*.mkv
*.mp4
*.ckpt
*.patch
*.avi
# Directories
.cache/
# logs/

.vscode
__pycache__
**/.ipynb_checkpoints/**

# datasets
data/coco/
data/mnist_object_detection
data/original_mnist
data/VOCdevkit
notebooks/data
data/tdt4265_2022
datasets/

# virtual environment
venv/
outputs/
